.blog {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #0A2640;
    gap: 22px;
    padding-top: 48px;

    .blog_name {

        font-family: "Open Sans";
        font-weight: 400;
        font-size: 20px;

    }

    .thoughts {
        font-family: "Manrope";
        font-weight: 400;
        font-size: 64px;
    }
}

.category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
   

    .img1 {
        width: 69%;
       
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .type,
        .author {
            display: flex;
            align-items: center;
            font-family: "Open Sans";
            font-size: 16px;
            gap: 12px;
        }

        .category_name {
            color: #0A2640;
            font-weight: 700;

        }

        .data {
            font-weight: 400;
            color: #777777;
        }

        .description {
            font-family: "Manrope";
            font-size: 48px;
            font-weight: 400;
            line-height: 72px;
        }


        .face {
            width: 32px;
            height: 32px;
             border-radius: 48%;
        }

        .girl_name {
            display: flex;
        }

    }

    .custom-line {
        border: none;
        height: 1px;
        width: 169%;
        background-color: #0A2640;
        margin-left: 630px;
        margin-top: 56px;
    }

}