.latest_news {
    padding-bottom: 4%;
}

.news {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 48px;
    padding-left: 61px;


    @media (max-width: 400px) {
        padding-top: 6%;
        font-size: 28px;
        padding-left: 19px;
    }
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(318px, 3fr));
    padding-top: 22px;
    gap: 24px;
    // row-gap: 8%;

    @media (max-width: 1440px) {
        grid-template-columns: repeat(auto-fill, minmax(349px, 3fr));
    }

    @media (max-width: 708px) {
        grid-template-columns: repeat(auto-fill, minmax(329px, 3fr));
    }

    @media (max-width: 400px) {
        // row-gap: 3%;
    }
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media (max-width: 400px) {
        gap: 0px;
    }

    .text1 {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-left: 60px;
        padding-top: 6px;

        @media (max-width: 400px) {
            font-size: 14px;
            gap: 18px;
        }

        .type1,
        .author1 {
            display: flex;
            align-items: center;
            font-family: "Open Sans";
            font-size: 16px;
            gap: 12px;
            padding-top: 17px;
        }

        .author1 {
            padding-top: 33px;

            @media (max-width: 768px) {
                padding-top: 35px;
            }

            @media (max-width: 400px) {
                margin-top: -35px;
            }
        }


        .category_name1 {
            color: #0A2640;
            font-weight: 700;

        }

        .data1 {
            font-weight: 400;
            color: #777777;
        }

        .description1 {
            font-family: "Manrope";
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            width: 66%;

            @media (max-width: 768px) {
                width: 73%;
            }

            @media (max-width: 400px) {
                font-size: 16px;

                line-height: 29px;
            }
        }

        .face1 {
            width: 32px;
            height: 32px;
            border-radius: 48%;
        }

        .girl_name1 {
            display: flex;
        }
    }
}

.second .text1 .description1,
.fifth .text1 .description1 {
    width: 84%;

    @media (max-width: 768px) {
        width: 93%;
    }

}


.second .text1 .author1,
.fifth .text1 .author1 {
    padding-top: 2px;

    @media (max-width: 400px) {
        padding-top: 26px;
    }
}

.third .text1 .description1,
.sixth .text1 .description1 {
    width: 86%;

    @media (max-width: 768px) {
        width: 96%;
    }

}

.third .text1 .author1,
.sixth .text1 .author1 {
    padding-top: 2px;

    @media (max-width: 400px) {
        padding-top: 29px;
    }

}

.load_more {
    display: flex;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #0A2640;
    width: 219px;
    height: 60px;
    border-radius: 56px;
    border: 2px solid #0A2640;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 40%;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: #0A2640;
    }

    @media (max-width: 768px) {
        // margin-top: 40%;
    }

    @media (max-width: 400px) {
        
        margin-left: 17%;
       
    }
}