.banner {
    display: flex;
    width: 96%;
    height: 391px;
    background-color: #0A2640;
    margin-left: 2.5%;
    margin-top: 4%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;

    &::before {
        content: "";
        margin-bottom: -16%;
        margin-left: 56%;
        width: 44%;
        height: 67%;
        background: transparent;
        border-radius: 0 12px 0 100%;
        background-color: #1C3D5B;
    }

    .website {
        font-family: "Manrope";
        font-weight: 400;
        font-size: 48px;
        color: white;
        width: 716px;
        text-align: center;
        padding-bottom: 6%;
        z-index: 2;

        @media (max-width:768px) {
            font-size: 39px;
            width: 697px;
        }

        @media (max-width:708px) {
            font-size: 32px;
            width: 560px;
        }

        @media (max-width:560px) {
            font-size: 27px;
            width: 479px;
        }


        @media (max-width:400px) {
            padding-bottom: 11%;
            font-size: 18px;
            width: 282px;
        }
    }

    .start {

        display: flex;
        padding-bottom: 5%;
        gap: 6%;
        z-index: 2;

        @media (max-width:400px) {
            display: flex;
            padding-bottom: 0;
            gap: 21px;
            z-index: 2;
            flex-direction: column;
            align-items: center;
        }

        input[type="email"] {

            width: 370px;
            height: 56px;
            border-radius: 240px;
            font-family: "Open Sans";
            font-weight: 400;
            font-size: 20px;
            padding-left: 5%;


            @media (max-width:560px) {
                width: 261px;
            }

            @media (max-width:400px) {
                text-align: center;
                height: 50px;
                font-size: 17px;
                width: 239px;
            }
        }

        button {
            width: 210px;
            height: 60px;
            padding: 12px 30px;
            background-color: #65E4A3;
            color: #0A2640;
            border: none;
            border-radius: 56px;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                font-size: 23px;
                transition: 0.1s;
            }

            @media (max-width:400px) {
                width: 157px;
                height: 52px;
                font-size: 19px;
            }
        }
    }

    @media (max-width: 768px) {
        width: 99%;
    }

    @media (max-width: 708px) {
        height: 268px;
        width: 95%;
    }

    @media (max-width:400px) {

        width: 98%;
        height: 256px;
        margin-left: 0.5%;
    }
}