header,
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  gap: 113px;



  .logo {
    display: flex;
    align-items: center;

    .name {
      font-family: "Manrope";
      font-weight: bold;
      font-size: 43.25px;
      color: #0A2640;
      padding-left: 37px;

    }



    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #0A2640;
      width: 18.02px;
      height: 13.26px;
      margin-top: -18px;

    }

    &::before {
      border-top-right-radius: 12.01px;
      border-bottom-right-radius: 12.01px;
    }

    &::after {
      height: 17.68px;
      width: 25.91px;
      border-top-right-radius: 12.01px;
      border-bottom-right-radius: 12.01px;
      margin-top: 18px;
    }
  }

  .nav {
    display: flex;
    gap: 100px;
    flex-direction: row;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    padding-right: 19px;
    color: #0A2640;

    &_link {
      cursor: pointer;

      &:hover {
        font-size: 18px;
        transition: 0.3s;
      }
    }

    .login {
      display: flex;
      font-weight: bold;
      width: 128px;
      height: 39px;
      border-radius: 24px;
      border: 2px solid #0A2640;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #0A2640;
        color: white;
        font-size: 18px;
        transition: 0.3s;
      }
    }

    @media (max-width: 320px) {

      display: block;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      background-color: white;
      text-align: center;
      top: -377px;
      right: 40px;
      border: 2px solid #1c3d5b;
      height: 342px;
      width: 199px;
      transition-duration: 2s;

      &.link {
        display: block;
        margin: 57px 47px 0px 44px;
        font-size: 17px;
      }

      .login {
        margin-top: 18%;
        margin-left: 16%;

       
      }
    }

  }

  @media (max-width: 320px) {
    align-items: center;
  }
}